@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Permanent+Marker&display=swap');
.btn-group{
    padding-right: 25px;
}


.b1
{
    padding-right: 10px;
}
.chamuyo1 h1{
    font-family: 'Crimson Text', serif;}

    .chamuyo1 h2{
        font-family: 'Crimson Text', serif;
    }

.chamuyo1{
    margin-left: 725px;
    margin-top: 100px;
}
.containerdestinos{
    margin-left: 45px;
}

.d-block w-100{
    background-size: h-100;
}
.correo{
    margin-left: 10px
}